/* Created by TopStyle Pro Trial Version - www.bradsoft.com */
body {
   position: relative;
	padding: 0;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#wrapper {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 738px;
	border: 1px solid #4B7699;
	background-repeat: repeat-y;
}

/* BRANDING*/
/*#branding { position: relative; width: 738px; margin: 0; padding: 0; background: #fff;}*/
#branding { position: relative;  height: 175px; margin: 0; padding: 0; background: #102d53;}

/*-----------------------------------------------------------------------------------------------*/

p img {
	border: none;
	padding: 5px;
}
.imgstyle1 {
 width: 100%;
 text-align: center;
 background-color: #93B1B1;
 xborder-top: 1px solid #DCDCDC;
 xborder-bottom: 1px solid #DCDCDC;
 border-top: 1px solid black;
 border-bottom: 1px solid black;
}
.ie {
	margin-bottom: -2px;
}

#features h2 {
 margin: 9px 0;
 width: 100%;
 text-align: center;
 background-color: #93B1B1;
 border-top: 1px solid black;
 border-bottom: 1px solid black;
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size: 16px;
 font-weight: bold;
 padding: 8px 0;
}

#features h1 {
 width: 100%;
 display: block;
 margin: 0 0;
 text-align: center;
 background-color: gold;
 border-bottom: 1px solid black;
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size: 16px;
 font-weight: bold;
 padding: 8px 0;
}

#banner {
	background-color: #93B1B1;
	padding: 0;
	height: 80px;
	margin: 0 0 0 199px;
	vertical-align: text-bottom;
	
}
#banner h1 {
	font-family: Georgia, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 20px;
	padding: 16px 0 0 20px;
	margin: 0 0;
	vertical-align: text-bottom;
}

#nav {
	margin: 10px 0 0 20px;
	padding: 0;
	height: 20px;
	xborder: 1px dashed red;

}
#nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#nav li {
	margin: 0 0;
	padding: 0 10px 0 0px;
	list-style: none; 
	display: block; 
	float: left; 
}
#nav li.last {
	padding: 0 0;
}


#features {
	font-size: 10px;
 	float: left;
 	width: 199px;
}
#features p {
	padding: 5px;
	margin: 0 0;
}
#features ul {
	background-color: #97BADC;
	text-align: left;
	margin: 0;
	padding: 28px 0 10px 20px;
	font-size: 13px;
	list-style: none;

}
#features li {
	margin: 6px 0;
}

#features li a:link {text-decoration: none;}
#features li a:visited {text-decoration: none;}
#features li a:hover {text-decoration: underline;}
#features li a:active {text-decoration: none;}

#content {
	background-color: #fff;

}
#footer {
	background-color: #97BADC;
	width: 738px;
	height: 20px;
	clear: both;
}
.reslist li {
	padding-top: 4px;
	padding-bottom: 4px;
}

#banner h1 a:link {
	text-decoration: none;
	vertical-align: text-bottom;
}
#banner h1 a:visited {text-decoration: none;}
#banner h1 a:active {text-decoration: none;}
#banner h1 a:hover {text-decoration: underline;}

a:link {
	color: black;
}
a:visited {
	color: black;
}
a:hover {
	color: black;
	text-decoration: none;
}
a:active {
	color: black;
}

ul {
	background-color: #fff;
	text-align: left;
	margin: 0 0 0 20px;
	padding: 0;
	list-style: round;

}
li {
	margin: 6px 0;
}
